@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --courtney-dark-blue: #16205F;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Poppins";
}

h1, h2, h3, h4, p {
  font-family: 'Poppins';
  color: var(--courtney-dark-blue);
}

h1, h2, h3, h4{
  font-weight: 600;
}

p {
  font-weight: 400;
}

h1{
  font-size: 64pt;
}

h2{
  font-size: 46pt;
}

h3{
  font-size: 28pt;
}

h4 {
  font-size: 22pt;
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
